<a href="https://colab.research.google.com/github/K-Himanshu/DataAnalysis/blob/main/covidDataAnalysisusingSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [50]:
import pandas as pd

In [51]:
import sqlite3
from sqlalchemy import create_engine

In [52]:

engine=create_engine('sqlite://', echo=False)
file=pd.read_excel("/content/drive/MyDrive/owid-covid-data.xlsx")

In [53]:
file.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [54]:
file.shape

(155139, 67)

In [55]:
file.drop(file.iloc[:, 17:67], inplace = True, axis = 1)

In [56]:
file.head()

  iso_code continent  ... new_deaths_smoothed_per_million reproduction_rate
0      AFG      Asia  ...                             NaN               NaN
1      AFG      Asia  ...                             NaN               NaN
2      AFG      Asia  ...                             NaN               NaN
3      AFG      Asia  ...                             NaN               NaN
4      AFG      Asia  ...                             NaN               NaN

[5 rows x 17 columns]

In [57]:
file.drop(columns=['new_cases_smoothed', 'new_deaths_smoothed', 'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million','reproduction_rate'])

       iso_code continent  ... total_deaths_per_million new_deaths_per_million
0           AFG      Asia  ...                      NaN                    NaN
1           AFG      Asia  ...                      NaN                    NaN
2           AFG      Asia  ...                      NaN                    NaN
3           AFG      Asia  ...                      NaN                    NaN
4           AFG      Asia  ...                      NaN                    NaN
...         ...       ...  ...                      ...                    ...
155134      ZWE    Africa  ...                  345.543                  2.319
155135      ZWE    Africa  ...                  346.007                  0.464
155136      ZWE    Africa  ...                  347.067                  1.060
155137      ZWE    Africa  ...                  347.067                  0.000
155138      ZWE    Africa  ...                  347.664                  0.596

[155139 rows x 12 columns]

In [58]:
file=file.dropna(subset=['iso_code','continent','location','date','total_cases','new_cases','total_deaths', 'new_deaths','total_cases_per_million','new_cases_per_million','total_deaths_per_million'])

In [59]:
file

       iso_code continent  ... new_deaths_smoothed_per_million reproduction_rate
28          AFG      Asia  ...                           0.004               NaN
29          AFG      Asia  ...                           0.004               NaN
30          AFG      Asia  ...                           0.004               NaN
31          AFG      Asia  ...                           0.007               NaN
32          AFG      Asia  ...                           0.007               NaN
...         ...       ...  ...                             ...               ...
155134      ZWE    Africa  ...                           1.164              0.63
155135      ZWE    Africa  ...                           1.079              0.62
155136      ZWE    Africa  ...                           0.965              0.63
155137      ZWE    Africa  ...                           0.852               NaN
155138      ZWE    Africa  ...                           0.937               NaN

[125753 rows x 17 columns]

In [60]:
file.to_sql('covid', engine, if_exists='replace', index=False)
results=engine.execute('select * from covid order by total_cases')

results=pd.DataFrame(results, columns=file.columns)

In [61]:
results.head()

  iso_code      continent  ... new_deaths_smoothed_per_million reproduction_rate
0      CYM  North America  ...                             NaN               NaN
1      CYM  North America  ...                             NaN               NaN
2      CYM  North America  ...                           2.148               NaN
3      GUY  South America  ...                             NaN               NaN
4      GUY  South America  ...                             NaN               NaN

[5 rows x 17 columns]

In [62]:
res=engine.execute('select total_cases, total_deaths, (total_deaths/total_cases)*100 as death_percentage  from covid where location <> "World" group by total_cases')
res=pd.DataFrame(res, columns=['total_cases', 'total_deaths','death_percentage'])

In [63]:
res.head()

   total_cases  total_deaths  death_percentage
0          1.0           1.0        100.000000
1          2.0           1.0         50.000000
2          3.0           1.0         33.333333
3          4.0           1.0         25.000000
4          5.0           1.0         20.000000

In [64]:
res=engine.execute('select location, total_cases, total_deaths, (total_deaths/total_cases)*100 as death_percentage  from covid where location like "%India" group by total_cases order by 3 desc')
res=pd.DataFrame(res, columns=['location', 'total_cases', 'total_deaths','death_percentage'])

In [65]:
res.head()

  location  total_cases  total_deaths  death_percentage
0    India   37380253.0      486451.0          1.301358
1    India   37122164.0      486066.0          1.309369
2    India   36850962.0      485752.0          1.318153
3    India   36317927.0      485131.0          1.335789
4    India   35875790.0      484213.0          1.349693

In [80]:
res=engine.execute('select location, total_cases as HighestInfectionCount from covid group by total_cases order by total_cases desc')
res=pd.DataFrame(res, columns=['location', 'HighestInfectionCount'])

In [81]:
res

            location  HighestInfectionCount
0      United States             65699947.0
1      United States             65445397.0
2      United States             64920604.0
3      United States             64062060.0
4      United States             63285605.0
...              ...                    ...
74974       Zimbabwe                    5.0
74975        Vanuatu                    4.0
74976       Zimbabwe                    3.0
74977          Sudan                    2.0
74978          Sudan                    1.0

[74979 rows x 2 columns]

In [86]:
res=engine.execute('select location, total_deaths as totalDeathCount from covid group by 1 order by 2 desc')
res=pd.DataFrame(res, columns=['location', 'totalDeathCount'])

In [87]:
res

          location  totalDeathCount
0    United States         850605.0
1           Brazil         621327.0
2            India         486451.0
3           Russia         314838.0
4           Mexico         301410.0
..             ...              ...
197       Anguilla              6.0
198         Bhutan              3.0
199      Greenland              3.0
200     Montserrat              1.0
201        Vanuatu              1.0

[202 rows x 2 columns]

In [ ]:
res=engine.execute('select continent, total_deaths from covid group by 1 order by 2 desc limit 5')
res=pd.DataFrame(res, columns=['continent', 'total_deaths'])

In [94]:
res

       continent  total_deaths
0  North America      850605.0
1         Europe      152109.0
2  South America        5380.0
3         Africa        5247.0
4           Asia        1990.0